.sir{
    background-color: black;
}
.son{
    margin-left: 30%;
    color: white;
    
}
.dad{ 
    margin-top: 30px;
    height: 60px;
    width: 50%;
    border-radius: 50px;
    background: orangered;
    color: white;
    text-align: center;
}